html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#map {
	height: 100%;
	width: 100%;
}

[class *='col-'] {
	float: left;
}

.col-2-12 {
	width: 16.6%;
	border-right: 1px solid black;
	-webkit-box-sizing: border-box;
	background-color: orange;
}

.col-10-12 {
	width: 83.3%;
}

#nav {
	height: auto;
	background-color: grey;
}

.list_spot_item {
	text-align: center;
}

.list_spot_item:hover {
	color: white;
}

#wait {
	position: absolute;
	top: 50%;
	left: 40%;
	background-color: black;
	z-index: 10;
	width: 500px;
	height: auto;
	color: white;
	font-size: 30px;
	text-align: center;
}

#search_bar {
		max-width: 148px;
	}

@media screen and (max-width: 640px) {
	.col-2-12 {
		width: 40%;
	}

	.col-10-12 {
		width: 60%;
	}

	#wait {
		width: auto;
		height: auto;
	}

	.list_spot_item  {
		font-size: 15px;
	}

	#nav {
		height: auto;
	}

	#search_bar {
		max-width: 120px;
	}
}
